#container{
    height: 17em;
    width: 17em;
    border: 9px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
    border-radius: 40px;
}
#display{
    height: 6em;
    width: 13em;
    border: 12px double black;
    border-radius: 30px;
    margin-top: 1em;
}
#content{
    margin-left: 1.3em;
    margin-top: 1em;
    font-size: 2em;
}
#controls{
    height: 40%;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#controls button{
    height: 50%;
    width: 30%;
    border-radius: 23px;
}